<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <span class="breadcrumb float-sm-right">
          <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
            <i class="text-white fas fa-plus"></i>
          </button>

        </span>
        <!--<ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>-->
      </div>
    </div>
  </div>
</section>



<section class="content">
  <div class="card m-2">
    <div class="card-body p-2 ">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th class="text-center" style="width: 10%">
              Código
            </th>
            <th class="text-center" style="width: 10%">
              Foto
            </th>
            <th class="text-center" style="width: 10%">
              Nome
            </th>
            <th class="text-center" style="width: 10%">
              Email
            </th>
            <th class="text-center" style="width: 10%">
              PhoneNumber
            </th>
            <th class="text-center" style="width: 15%">
              Direccion
            </th>
            <th class="text-center" style="width: 15%">
              Tipo
            </th>
            <th class="text-center" style="width: 20%">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios">
            <td class="text-center">{{user.uid}}</td>
            <td class="text-center"><img src="{{user.photoUrl}}" alt="{{user.photoUrl}}" width="100px" height="100px">
            </td>
            <td class="text-center">{{user.name}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{user.phoneNumber}}</td>
            <td class="text-center">{{user.location}}</td>
            <td class="text-center">{{user.settingsUser.type}}</td>
            <td class="text-center">
              <a class="btn btn-info m-2">
                <i class="text-white fas fa-edit"></i>
              </a>
              <a class="btn btn-danger m-2">
                <i class="text-white fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="usuarioform" (ngSubmit)="submit()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <fieldset>
                <legend>Datos Personales</legend>
                <div class="form-group">
                  <label for="cardTitle">Nombre</label>
                  <!--is-invalid-->
                  <input type="text" class="form-control " id="cardTitle" formControlName="name"
                    aria-describedby="cardTitlehelp" placeholder="Nombre">
                  <!--small id="cardTitlehelp" *ngIf="categoryform.controls['cardTitle'].invalid"> Campo Requerido</small-->
                </div>

                <div class="form-group">
                  <label for="imagem">Celular</label>
                  <input type="text" class="form-control" id="imagem" formControlName="phoneNumber"
                    placeholder="phoneNumber">
                </div>
                <div class="form-group">
                  <label for="imagem">Foto</label>
                  <input type="text" class="form-control" id="imagem" formControlName="photoUrl" placeholder="photoUrl">
                </div>
                <div class="form-group">
                  <label for="imagem">Dirección</label>
                  <input type="text" class="form-control" id="imagem" formControlName="location" placeholder="location">
                </div>

                <div class="form-group">
                  <label for="imagem">Puntos</label>
                  <input type="number" class="form-control" id="imagem" formControlName="points" placeholder="points">
                </div>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <legend>Datos Cuenta</legend>
                <div class="form-group">
                  <label for="cardSubtitle">Email</label>
                  <input type="email" class="form-control" id="cardSubtitle" formControlName="email"
                    placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="cardSubtitle">Password</label>
                  <input type="password" class="form-control" id="cardSubtitle" formControlName="password"
                    placeholder="cardSubtitle">
                </div>

                <div class="form-group">
                  <label for="imagem">Tipo</label>
                  <select class="form-control" id="imagem" formControlName="type">
                    <option value="-1">Seleccione el tipo de usuario</option>
                    <option value="client">Cliente</option>
                    <option value="admin">Administrador</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="imagem">Lenguaje</label>
                  <input type="text" class="form-control" id="imagem" formControlName="language" placeholder="language">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button [disabled]="!usuarioform.valid" type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>